
html, body {
  height: 100%;
}

.navigation {
  z-index: 2;
}

/* SVG Background Styles */

@keyframes offset {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-it {
  100% {
    fill: black;
  }
}

.skyline {
 max-width: 100vw;
 height: auto;
 position: absolute;
 bottom: 0;
 background-color: blue;
 background-image: linear-gradient(326deg, navy 0%, skyblue 74%);
}

.logo {
  stroke: black;
  stroke-width: 13;
  stroke-dasharray: 95294.8984375;
  stroke-dashoffset: 95294.8984375;

  animation: offset 4s linear forwards, fill-it .8s 4s forwards;
}

/* About Page */

.film-bg {
  background-image: url("../img/film-background.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
