html, body {
  height: 100%;
}

h3 {
  color: red;
  font-family: "Waiting for the Sunrise", sans-serif;
}

p {
  font-family: "Imprima", sans-serif;
  color: #414656;
  transition: 0.6s ease;
}

h5 {
  color: #80f1ff;
}

@media (min-width: 768px) {
  p {
    font-size: 1.3rem;
  }
}
.page-bg {
  background-color: #1e2430;
}

#biofade {
  position: relative;
  animation: biofade 1s;
}

.title {
  font-size: 3em;
  margin-bottom: 15px;
}

.strength-cards {
  position: relative;
  animation: strengthIn 1s;
  margin-bottom: 50px;
}

.card-body {
  background-color: rgba(65, 70, 86, 0.1);
  transition: 0.6s ease;
}

.card-body:hover p {
  color: white;
}

.strength-icon {
  fill: #414656;
  transition: 0.6s ease;
}

.card-body:hover svg {
  fill: #80f1ff;
}

.live, .github {
  color: #414656;
  transition: 0.6s ease;
}

.live:hover,
.github:hover {
  background-color: #80f1ff;
  color: #1e2430;
  text-decoration: none;
}

@keyframes titleanimation {
  0% {
    top: -300px;
  }
  100% {
    top: 0;
  }
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes offset {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes fill-it {
  100% {
    fill: black;
  }
}
@keyframes strengthIn {
  0% {
    left: -600px;
  }
  100% {
    left: 0;
  }
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes biofade {
  0% {
    right: -600px;
  }
  100% {
    right: 0;
  }
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes skillbounce {
  0% {
    top: -400px;
  }
  30% {
    top: 0;
  }
  35% {
    top: -100px;
  }
  40% {
    top: 0;
  }
  45% {
    top: -65px;
  }
  50% {
    top: 0;
  }
  55% {
    top: -45px;
  }
  60% {
    top: 0;
  }
  65% {
    top: -20px;
  }
  100% {
    top: 0;
  }
  35% {
    transform: scaleY(1.2);
  }
  40% {
    transform: scaleY(1);
  }
  45% {
    transform: scaleY(1.2);
  }
  50% {
    transform: scaleY(1);
  }
  55% {
    transform: scaleY(1.2);
  }
  60% {
    transform: scaleY(1);
  }
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes skillsfade {
  0% {
    top: -200px;
  }
  100% {
    top: 0;
  }
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes projectsIn {
  0% {
    left: -600px;
  }
  100% {
    left: 0;
  }
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.navigation {
  z-index: 2;
  width: 100%;
}

.jumbotron {
  font-family: "Waiting for the Sunrise", sans-serif;
}

.title-card {
  letter-spacing: 3px;
  position: relative;
  animation: titleanimation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  transition: 1s ease;
}

.title-card:hover {
  transform: scale(1.2);
  letter-spacing: 5px;
}

.sub {
  color: red;
  font-size: 1.8em;
}

/* SVG Background Styles */
.skyline {
  max-width: 100vw;
  min-height: 80vh;
  position: absolute;
  bottom: 0;
  z-index: -1;
  background-color: blue;
  background-image: linear-gradient(326deg, navy 0%, skyblue 74%);
}

.logo {
  stroke: black;
  stroke-width: 13;
  stroke-dasharray: 95294.8984375;
  stroke-dashoffset: 95294.8984375;
  animation: offset 4s linear forwards, fill-it 0.8s 4s forwards;
}

.skills {
  position: relative;
  animation-name: skillsfade;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  transition: 1s ease;
}

.skills:hover {
  letter-spacing: 5px;
}

.skill-image-circle {
  height: 120px;
  width: 120px;
  padding: 10px;
}

.skill-image {
  height: 100px;
  width: 100px;
  padding: 10px;
}

.rounded {
  flex-basis: 50%;
}

.reveal {
  transition: 0.8s ease;
}

.reveal:hover {
  transform: scale(1.3);
}

#html {
  opacity: 0;
  position: relative;
  animation-name: skillbounce;
  animation-duration: 3.3s;
  animation-fill-mode: forwards;
  transition: ease-in;
}

#css {
  opacity: 0;
  position: relative;
  animation-name: skillbounce;
  animation-duration: 3.3s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  transition: ease-in;
}

#javascript {
  opacity: 0;
  position: relative;
  animation-name: skillbounce;
  animation-duration: 3.3s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  transition: ease-in;
}

#sass {
  opacity: 0;
  position: relative;
  animation-name: skillbounce;
  animation-duration: 3.3s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
  transition: ease-in;
}

#bootstrap {
  opacity: 0;
  position: relative;
  animation-name: skillbounce;
  animation-duration: 3.3s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  transition: ease-in;
}

#jquery {
  opacity: 0;
  position: relative;
  animation-name: skillbounce;
  animation-duration: 3.3s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  transition: ease-in;
}

.project-cards {
  position: relative;
  animation: projectsIn 1s;
}

#contact-nav {
  z-index: 2;
  min-height: 56px;
  padding: 8px 0;
}

#contact-nav button {
  margin-left: 15px;
}

#contact-nav .navbar-collapse {
  background-color: #343a40;
  padding: 0 15px;
}

#contact-card {
  position: relative;
  animation-name: contact-card;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes contact-card {
  0% {
    right: -600px;
  }
  100% {
    right: 0;
  }
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
hr {
  width: 80%;
  margin-left: 15px;
}

.card-name {
  font-family: "Waiting for the Sunrise", sans-serif;
}

.contact-name {
  background-color: inherit;
}

.gradient-bg {
  height: 500px;
  background-color: #1e2430;
  background-image: linear-gradient(326deg, white 0%, rgba(65, 70, 86, 0.1) 74%);
}

.cullen-contact {
  border: 4px solid white;
  height: 50%;
  width: auto;
  padding: 5px;
  border-radius: 50%;
}

.cullen-contact:hover {
  margin: auto;
  transform: scale(1.2);
  transition: 0.5s;
  border: 4px solid skyblue;
}

.social {
  margin: auto;
  padding: 8px;
  border: 2px solid black;
  border-radius: 10px;
  width: 80%;
  background-color: white;
}

.facebook-btn svg {
  fill: #3b5998;
}

.linkedin-btn svg {
  fill: #0072b1;
}

.github-btn svg {
  fill: #6e5494;
}

svg:hover {
  transform: scale(1.2);
}

.hometown {
  fill: blue;
}

.email {
  fill: green;
}

.phone {
  fill: gold;
}

/*# sourceMappingURL=styles.css.map */
