
$font-primary: 'Imprima', sans-serif;
$font-secondary: 'Waiting for the Sunrise', sans-serif;

$page-background-color: #1e2430;
$card-background-color: rgba(65, 70, 86, 0.1);
$color-primary: rgba(128, 241, 255, 1);
$color-secondary: #414656;
