
#contact-nav {
  z-index: 2;
  min-height: 56px;
  padding: 8px 0;
}
#contact-nav button {
  margin-left: 15px;
}
#contact-nav .navbar-collapse {
  background-color: #343a40;
  padding: 0 15px;
}

#contact-card {
  position: relative;
  animation-name: contact-card;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes contact-card {
  0% {right: -600px;}
  100% {right: 0;}
  0% {opacity: 0}
  100%{opacity: 1}
}

hr {
    width: 80%;
    margin-left: 15px;
}

.card-name {
  font-family: $font-secondary;
}

.contact-name {
  background-color: inherit;
}

.gradient-bg {
  height: 531px;
  background-color: $page-background-color;
  background-image: linear-gradient(326deg, white 0%, $card-background-color 74%);
}

.cullen-contact {
  border: 4px solid white;
  height: 50%;
  width: auto;
  padding: 5px;
  border-radius: 50%;
}

.cullen-contact:hover {
  margin: auto;
  transform: scale(1.2);
  transition: .5s;
  border: 4px solid skyblue;
}

.social {
  margin: auto;
  padding: 8px;
  border: 2px solid black;
  border-radius: 10px;
  width: 80%;
  background-color: white;
}

svg:hover {
  transform: scale(1.2);
  }

.facebook-btn svg {
  fill: #3b5998;
}

.linkedin-btn svg {
  fill: #0e76a8;
}

.github-btn svg {
  fill: #6e5494;
}

.hometown {
  fill: blue;
}

.email {
  fill: green;
}

.phone {
  fill: gold;
}

.resume {
  fill: tomato;
}
