
//Loading Screen

#loading-screen {
  font-family: 'Anton', sans-serif;
  letter-spacing: 10px;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #04c0fb;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.loaderHidden {
  animation: loaderOut 1s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes loaderOut {
  100% {
      opacity: 0;
      visibility: hidden;
    }
}

.loading-text {
  font-family: 'Anton', sans-serif;
  color: white;
}

//Skill Circles

.skills {
  position: relative;
  animation-name: skillsfade;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  transition: 1s ease;
}


.skills:hover {
  letter-spacing: 5px;
}

.skill-image-circle {
  height: 120px;
  width: 120px;
  padding: 10px;
}

.skill-image {
  height: 100px;
  width: 100px;
  padding: 10px;
}

.rounded {
  flex-basis: 50%;
}

.reveal {
  transition: .8s ease;
}

.reveal:hover {
  transform: scale(1.3);
}

#html {
  opacity: 0;
  position: relative;
  animation-name: skillbounce;
  animation-duration: 3.3s;
  animation-fill-mode: forwards;
  transition: ease-in;
}

#css {
  opacity: 0;
  position: relative;
  animation-name: skillbounce;
  animation-duration: 3.3s;
  animation-delay: .2s;
  animation-fill-mode: forwards;
  transition: ease-in;
}


#javascript {
  opacity: 0;
  position: relative;
  animation-name: skillbounce;
  animation-duration: 3.3s;
  animation-delay: .3s;
  animation-fill-mode: forwards;
  transition: ease-in;
}

#sass {
  opacity: 0;
  position: relative;
  animation-name: skillbounce;
  animation-duration: 3.3s;
  animation-delay: .4s;
  animation-fill-mode: forwards;
  transition: ease-in;
}

#bootstrap {
  opacity: 0;
  position: relative;
  animation-name: skillbounce;
  animation-duration: 3.3s;
  animation-delay: .5s;
  animation-fill-mode: forwards;
  transition: ease-in;
}

#jquery {
  opacity: 0;
  position: relative;
  animation-name: skillbounce;
  animation-duration: 3.3s;
  animation-delay: .6s;
  animation-fill-mode: forwards;
  transition: ease-in;
}

.project-cards {
  position: relative;
  animation: projectsIn 1s;
}
